<!DOCTYPE html>
html
    head
        - var page = { title: '404 - страница не найдена' }
        include inc/head.pug
    body
        .wrapper
            include inc/header.pug
            include inc/404/content.pug
            include inc/footer.pug
            include inc/scripts.pug