<!DOCTYPE html>
html
    head
        - var page = { title: 'Каталог продукции' }
        include inc/head.pug
    body
        .wrapper
            include inc/header.pug
            include inc/catalog/content.pug
            include inc/footer.pug
            include inc/scripts.pug
