<!DOCTYPE html>
html
    head
        - var page = { title: 'Контакты' }
        include inc/head.pug
    body
        .wrapper
            include inc/header.pug
            include inc/contacts/content.pug
            include inc/footer.pug
            include inc/scripts.pug