.page_content
    .container
        ul.breadcrumb
            li
                a(href="#") Главная
            li
                a(href="#") #{page.title}

        h1 #{page.title}
        <p class="mb-5">Страница не найдена. Запрашиваемая страница не найдена или была перемещена по другому адресу</p>