.page_content
    .container
        ul.breadcrumb
            li
                a(href="#") Главная

            li
                a(href="#") #{page.title}

        h1 #{page.title}

        button.btn_default.mb-5(data-toggle="modal" data-target="#registration") Регистрация
        button.btn_default.mb-5(data-toggle="modal" data-target="#order_call") Заказать звонок
        button.btn_default.mb-5(data-toggle="modal" data-target="#subscribe") Подписаться на прайс








