if page.title!="Контакты"
    .main_contacts
        .container-fluid
            .row
                .col-12.col-md-6
                    img(src="img/image9.png")
                .col-12.col-md-6.d-flex.align-items-center
                    div
                        .main_contacts_row
                            .h1 Наши данные
                            .row
                                .col-12.col-sm-6.col-md-4
                                    .title Отдел продаж:
                                    ul
                                        li
                                            a.phone(href="tel:+375 29 649 53 52") +375 29 649 53 52
                                        li
                                            a.email(href="mailto:tb@technoby.by") tb@technoby.by
                                .col-12.col-sm-6.col-md-4
                                    .title Сервисный отдел:
                                    ul
                                        li
                                            a.phone(href="tel:+375 44  737 82 40") +375 44  737 82 40
                                        li
                                            a.email(href="mailto:support2@technoby.com") support2@technoby.com
                                .col-12.col-sm-6.col-md-4
                                    .title Бухгалтер:
                                    ul
                                        li
                                            a(href="tel:+375 17  363 82 40") +375 17  363 82 40 <span>(тел./факс)</span>

                                .col-12
                                    .title Адрес:
                                    ul
                                        li.location 220040, город Минск, ул. Корш-Саблина, д. 74, ком. 1

footer
    .container
        .f_row
            .col_left
                .f_logo
                    a(href="#")
                        img(src="img/f_logo.svg")
            .col_center
                -var f_menu=['Главная','Каталог товаров','О компании','Оплата и доставка','Контакты'];
                ul.f_menu
                    for f_menu_item,  index in f_menu
                        li
                            a(href="#")=f_menu_item
                p.f_contacts ООО "ТЕХНОБАЙ-ИТ" Республика Беларусь, 220040, г. Минск, ул. Корш-Саблина, д. 74, ком. 1 <br>р/с BY16 AKBB 3012 0000 4567 8000 0000 в ОАО «АСБ Беларусбанк» г. Минск, ул. Куйбышева, 18 <br>S.W.I.F.T.: AKBBBY2X <br>УНП 193417656
            .col_right
                .subscribe
                    .h2 Подпишитесь на наш прайс!
                    p Узнавайте все новости первыми
                    a.btn_default(href="#") Прайс