footer
    .container
        .f_row
            .col_left
                .f_logo
                    a(href="#")
                        img(src="img/f_logo.svg")
            .col_center
                -var f_menu=['Главная','Каталог товаров','О компании','Оплата и доставка','Контакты'];
                ul.f_menu
                    for f_menu_item,  index in f_menu
                        li
                            a(href="#")=f_menu_item
                p.f_contacts ООО "ТЕХНОБАЙ-ИТ" Республика Беларусь, 220040, г. Минск, ул. Корш-Саблина, д. 74, ком. 1 <br>р/с BY16 AKBB 3012 0000 4567 8000 0000 в ОАО «АСБ Беларусбанк» г. Минск, ул. Куйбышева, 18 <br>S.W.I.F.T.: AKBBBY2X <br>УНП 193417656
            .col_right
                .subscribe
                    .h2 Подпишитесь на наш прайс!
                    p Узнавайте все новости первыми
                    a.btn_default(href="#") Прайс