if page.title === "Главная1"
    footer(style="background-image:url(img/f_bg1.jpg)")
        .container
            .footer_row
                .col_left
                    .f_widjet
                        p Навигация по сайту:
                        ul
                            li
                                a(href="#") Наши проекты
                            li
                                a(href="#") О нас
                            li
                                a(href="#") Контакты
                    .f_widjet
                        p Основные услуги:
                        ul
                            li
                                a(href="#") Изготовление металлических изделий
                            li
                                a(href="#") Полимерная порошковая покраска
                            li
                                a(href="#") Декорирование метала под дерево
                .col_right
                    .f_widjet
                        p Контактная информация:
                        .location 220073, г.Минск, ул.Бирюзова 4/5, офис 121 УНП ХХХХХХХХХ
                        .phones
                            ul
                                li
                                    a(href="tel: +375 17 310 10 07") +375(17) 310-10-07
                                li
                                    a(href="tel: +375 29 625 00 85") +375(29) 625-00-85
                        .email
                            a(href="mailto: info@trimil-d.by") info@trimil-d.by

                        ul.social_menu
                            li
                                a(href="#")
                                    img.icon(src="img/facebook.svg")
                            li
                                a(href="#")
                                    img.icon(src="img/instagram.svg")
            .copyright Компания «Тримил Д» основана в ХХХХ г.
else if page.title === "Главная2"
    footer(style="background-image:url(img/f_bg_2.jpg)")
        .container
            .footer_row
                .col_left
                    .f_widjet
                        p Навигация по сайту:
                        ul
                            li
                                a(href="#") Наши проекты
                            li
                                a(href="#") О нас
                            li
                                a(href="#") Контакты
                    .f_widjet
                        p Основные услуги:
                        ul
                            li
                                a(href="#") Изготовление металлических изделий
                            li
                                a(href="#") Полимерная порошковая покраска
                            li
                                a(href="#") Декорирование метала под дерево
                .col_right
                    .f_widjet
                        p Контактная информация:
                        .location 220073, г.Минск, ул.Бирюзова 4/5, офис 121 УНП ХХХХХХХХХ
                        .phones
                            ul
                                li
                                    a(href="tel: +375 17 310 10 07") +375(17) 310-10-07
                                li
                                    a(href="tel: +375 29 625 00 85") +375(29) 625-00-85
                        .email
                            a(href="mailto: info@trimil-d.by") info@trimil-d.by

                        ul.social_menu
                            li
                                a(href="#")
                                    img.icon(src="img/facebook.svg")
                            li
                                a(href="#")
                                    img.icon(src="img/instagram.svg")
            .copyright Компания «Тримил Д» основана в ХХХХ г.
else
    footer(style="background-image:url(img/footer_bg.png)")
        .container
                .footer_row
                    .col_left
                        .f_widjet
                            p Навигация по сайту:
                            ul
                                li
                                    a(href="#") Наши проекты
                                li
                                    a(href="#") О нас
                                li
                                    a(href="#") Контакты
                        .f_widjet
                            p Основные услуги:
                            ul
                                li
                                    a(href="#") Изготовление металлических изделий
                                li
                                    a(href="#") Полимерная порошковая покраска
                                li
                                    a(href="#") Декорирование метала под дерево
                    .col_right
                        .f_widjet
                            p Контактная информация:
                            .location 220073, г.Минск, ул.Бирюзова 4/5, офис 121 УНП ХХХХХХХХХ
                            .phones
                                ul
                                    li
                                        a(href="tel: +375 17 310 10 07") +375(17) 310-10-07
                                    li
                                        a(href="tel: +375 29 625 00 85") +375(29) 625-00-85
                            .email
                                a(href="mailto: info@trimil-d.by") info@trimil-d.by

                            ul.social_menu
                                li
                                    a(href="#")
                                        img.icon(src="img/facebook.svg")
                                li
                                    a(href="#")
                                        img.icon(src="img/instagram.svg")
                .copyright Компания «Тримил Д» основана в ХХХХ г.